<div class="row">

<div class="col"></div>

<div class="col">

  <div class="row">
    <div class="col">
      <img class="img-fluid" height="75" src="../../assets/logo.png"/>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          
  <div class="row">
      <div class="col">
          <div class="form-group">
              <label for="username">Email</label>
        <input class="form-control" id="username" type="email" [(ngModel)]=username />
        </div>
        </div>
        </div>

        
  <div class="row">
      <div class="col">
          <div class="form-group">
              <label for="password">Password</label>
          <input class="form-control" id="password" type="password" [(ngModel)]=password />
        </div>
        </div>
        </div>




          </div>
          <div class="card-footer text-muted">
             <button class="btn btn-primary btn-sm" (click)=login()>Login</button>
            </div>
          </div>
    </div>
  </div>




</div>

<div class="col"></div>


</div>