<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h1 class="display-4 d-none d-md-block" style="text-align:center">Corsair. Where we are constantly striving to make your Business Thrive and Flourish because your success is ours.</h1>
        <h2 class="d-md-none" style="text-align:center">Corsair. Where we are constantly striving to make your Business Thrive and Flourish because your success is ours.</h2>
      </div>
    </div>

    <div class="row" style="height:25px"></div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <p style="text-indent: 100px;">Time is money. With today’s ever-growing demand for simplicity and efficiency. We help to smoothly transition already established companies into todays digital age, as well as set the foundations for new business by designing custom software and systems tailored for your needs that will allow for a faster and simpler workflow that will generate a higher customer satisfaction rate as well give you the extra time needed to grow your business.</p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row" style="height:50px">
      <div class="col">
        <hr class="mx-4" style="background-color:white">
      </div>
    </div>

    <!--Services Block-->

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col">
        <img src="../../assets/imgs/web.jpg" class="img-fluid" style=" width: 100%; max-height: 400px; min-height: 125px" />
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="height:25px"></div>


    <div class="row" style="height:25px"></div>


    <!--Services Block-->
    <div class="row" style="height:50px">
      <div class="col">
        <hr class="mx-4" style="background-color:white">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="display-4" style="text-align:center">Services</h1>
      </div>
    </div>

    <div class="row" style="height:50px"></div>

    <div class="row">


     <!-- <div class="col-md-1"></div>-->


      <div class="col">
        <div class="row">
          <div class="col-sm-2 	d-xl-none"></div>
          <div class="col-sm-8 col-xl-12">
            <div class="card" style="background-color:white">
              <img class="card-img-top rounded-circle metallic" src="../../assets/imgs/hands-thumbnail.svg" alt="Card image cap">
              <div class="card-body " style="background-color:white">
                <h3 class="card-title">Consultations</h3>
                <p class="card-text metallic">Whether you are looking to launch and establish your own business or just update your current one. Be it a basic e commerce site or a complex management system that can cover all the numerous branches of your business-like payment processing, tracking and so on. Let us help you see all possible options available to you and then help you make them happen.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2 d-xl-none"></div>
        </div>
      </div>

      <!-- <div class="col-md-1"></div>-->

      <div class="col">
        <div class="row">
          <div class="col-sm-2 	d-xl-none"></div>
          <div class="col-sm-8 col-xl-12">
            <div class="card" style="background-color:white">
              <img class="card-img-top rounded-circle metallic" src="../../assets/imgs/tablet-thumbnail.svg" alt="Card image cap">
              <div class="card-body " style="background-color:white">
                <h3 class="card-title">Web Development</h3>
                <p class="card-text metallic">While creating a website might seem like child’s play sometimes you need a little more then a pretty one pager introducing yourself. If that is the case rest assured, we can make an engaging, high functioning easy to use web system that will make your business easy and efficient. Allowing you more time to work on all those other things that keep getting put to the side.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2 d-xl-none"></div>
        </div>
      </div>

      <!-- <div class="col-md-1"></div>-->

      <div class="col">
        <div class="row">
          <div class="col-sm-2 	d-xl-none"></div>
          <div class="col-sm-8 col-xl-12">
            <div class="card" style="background-color:white">
              <img class="card-img-top rounded-circle metallic" src="../../assets/imgs/brain-thumbnail.svg" alt="Card image cap">
              <div class="card-body " style="background-color:white">
                <h3 class="card-title">Business Management Systems</h3>
                <p class="card-text metallic"> Managing a business is a lot on anyone it can be tedious, intricate and time consuming. It does not have to be. Let us help you by either updating your existing web system or customizing a management system just for you. By automating your business, you will gain a faster more efficient streamlined process that will give you more time and flexibility to do other things like growing your business.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2 d-xl-none"></div>
        </div>
      </div>


            <!-- <div class="col-md-1"></div>-->



      <div class="col">
        <div class="row">
          <div class="col-sm-2 	d-xl-none"></div>
          <div class="col-sm-8 col-xl-12">
            <div class="card" style="background-color:white">
              <img class="card-img-top rounded-circle metallic" src="../../assets/imgs/eng-thumbnail.svg" alt="Card image cap">
              <div class="card-body " style="background-color:white">
                <h3 class="card-title">Existing System Development</h3>
                <p class="card-text metallic">
                  Have an existing system that you feel is a bit dated? Glitchy? Slow? Unreliable? Time is Money and no one needs a dated system that wastes time. Let us help you update your existing system to make it all you need it to be and bring it into the now. Even if your system is not dated adding new feature and modules to your existing system might just be the edge you were looking for to make your business more efficient or just stand out from your competitors.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-2 d-xl-none"></div>
        </div>
      </div>


      <!-- <div class="col-md-1"></div>-->
    </div>


  </div>
</div>

<div class="row" style="height:200px"></div>