<div class="row">
  
    <div class="col">
  <img src="../../assets/imgs/logo.png" class="img-fluid mx-auto d-block" style="text-align: center;max-height: 300px; min-height: 125px" />
  </div>
</div>

<div class="row nav-bg" >
  <div class="col-xl-12 nav-bg">
    <nav class="nav flex-column flex-sm-row justify-content-center">

   
      <a class="flex-sm-fill text-sm-center nav-link active" href="#">Home</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#/Contact">Contact Us</a>
    </nav>
  </div>

</div>
<div class="row">
<div class="col">
  <hr class="mx-4">
</div>
  
</div>